@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --dark-bg: #1f2937;
    --text-light: #f9faf8;
    --text-light-2: #e5e7eb;
    --text-dark: #1f2937;
    --button-colour: #3882f6;
    --font: Roboto, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--font);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    width: 100%;
}

nav{
    width: 100%;
    margin: auto;
    padding: 1rem 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--dark-bg);
}

.logo{
    color: var(--text-light);
    font-size: 24px;
    font-weight: 700;
}

.nav_links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.nav_links a{
    color: var(--text-light-2);
    font-size: 18px;
}

.hero_con{
    width: 100%;
    padding: 7rem 12rem;
    background: var(--dark-bg);
}

.hero_div{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.hero_txt{
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.hero_txt h1{
    color: var(--text-light);
    font-size: 48px;
    font-weight: 900;
}

.hero_txt p{
    color: var(--text-light-2);
    font-size: 18px;
}

.hero_txt button{
    padding: .5rem 2rem;
    background: var(--button-colour);
    color: var(--text-light);
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.hero_img{
    width: 50%;
}

.info_con{
    width: 100%;
    padding: 2rem 12rem 5rem 12rem;
}

.info_con h2{
    margin-bottom: 2rem;
    font-size: 36px;
    font-weight: 900;
    color: var(--dark-bg);
    text-align: center;
}

.box_con{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.box_wrap{
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
}

.box{
    width: 10rem;
    height: 10rem;
    border: 4px solid var(--button-colour);
    border-radius: 10px;
}

.box_wrap span{
    color: var(--dark-bg);
    text-align: center;
}

.quote_con{
    width: 100%;
    padding: 7rem 16.5rem;
    background: var(--text-light-2);
}

.quote{
    display: flex;
    flex-direction: column;
}

.quote blockquote{
    color: var(--dark-bg);
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote cite{
    align-self: flex-end;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
}

.cta_con{
    width: 100%;
    padding: 5rem 12rem;
}

.cta{
    width: 100%;
    padding: 3rem 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--button-colour);
    border-radius: 10px;
}

.cta_txt h3{
    color: var(--text-light);
    font-size: 24px;
}

.cta_txt p{
    color: var(--text-light-2);
}

.cta button{
    padding: .5rem 2rem;
    background: var(--button-colour);
    color: var(--text-light);
    border: 2px solid var(--text-light);
    border-radius: 7px;
}

footer{
    padding: 2rem;
    background: var(--dark-bg);
}

footer p{
    text-align: center;
    color: var(--text-light);
}